<root>
    <build>
        <start></start>
        <inject>
            <include>*</include>
        </inject>
        <handlers>LiveSharp.XamarinFormsViewHandler,LiveSharp.XamarinFormsViewModelsHandler</handlers>
    </build>
    <runtime>
        <ignoredViewModels></ignoredViewModels>
    </runtime>
</root>