<div class="my-component">
    This Blazor component is  in the <strong>BlazorComponents</strong> package.
</div>
    @Parameter

@code {
    [Parameter] public string Parameter { get; set; } 
    

}
