@page "/"
@inject NavigationManager Navigation

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="Navigate">Click me</button>
<SurveyPrompt Title="How is Blazor working for you"/>

@code {

    private void Navigate()
    {
        Navigation.NavigateTo("/counter/a/b");
    }
}
